<%#= Text adapted by Eve Neiger (Boston Public Library) from Archives at Yale help page text. Special thanks to the Yale Archival Management Systems Committee and Mark Custer at Yale University= %>
<h1>Help</h1>
<div>
  <ul class="list-unstyled">
    <li><a href="#about" class="underline">About this site</a></li>
    <li><a href="#coverage" class="underline">Which types of materials and collections are included in this site?</a></li>
    <li><a href="#archives" class="underline">What is an archival collection?</a></li>
    <li><a href="#archivalcenter" class="underline">Is this the same as the Archival Center?</a></li>
    <li><a href="#navigate" class="underline">How do I navigate the site?</a></li>
    <li><a href="#search" class="underline">How do I search for materials?</a></li>
    <li><a href="#advanced" class="underline">Tips on forming searches</a></li>
    <li><a href="#filter" class="underline">How do I narrow my search results?</a></li>
    <li><a href="#request" class="underline">How do I request materials?</a></li>
    <li><a href="#data" class="underline">How can I use BPL's finding aids, description, and metadata?</a></li>
	  <li><a href="#harmful" class="underline">Statement on Harmful Description</a></li>
    <li><a href="#glossary" class="underline">Glossary of Terms and Symbols</a></li>
    <li><a href="#questions" class="underline">What if I have questions? Where should I go for help with this site?</a></li>
    <li><a href="#morearchives" class="underline">Archives explained</a></li>
    <li><a href="#anatomy" class="underline">Anatomy of a collection record page</a></li>
  </ul>
</div>

<div id="about">
  <h2>About this site</h2>
    <p>One of only two public libraries in the United States that are members of the Association of Research Libraries, the Boston Public Library holds extensive special collections in a wide variety of subjects and formats. Our collections include manuscripts, rare books, photographs, prints, artwork, sculpture, objects, maps, and archival collections and records. More information about BPL Special Collections can be found on the <a href="https://www.bpl.org/special-collections-departments/">BPL Special Collections website</a> and department libguides:</p>
    <ul>
      <li><a href="https://guides.bpl.org/manuscripts/overview">Manuscripts in the Rare Books Department: How to Find</a></li>
      <li>More research guidance on various subjects can be found throughout <a href="https://guides.bpl.org/">BPL’s LibGuides</a></li>
    </ul>
</div>

<div id="coverage">
  <h2>Which types of materials and collections are included in this site?</h2>
    <p>This site provides access to descriptions for BPL's archival collections, uncatalogued acquisitions, and some collections of prints, photographs, and manuscripts.</p>
    <p>This site does not include all archival materials at BPL. Materials not included here are:</p>
    <ul>
      <li>Small collections and single item manuscripts (such as individual diaries, letters, and documents). These are cataloged in our <a href="http://catalog.mbln.org/Polaris/search/default.aspx?ctx=12.1033.0.0.6&type=Advanced">online research catalog</a>.</li>
      <li>Non-archival collections such as rare books, manuscripts, maps, and music are described in the <a href="https://catalog.mbln.org/Polaris/Search/default.aspx?ctx=1.1033.0.0.5&type=Advanced">research catalog</a> or in BPL’s <a href="https://guides.bpl.org/manuscripts/cardcatalogs">digitized card catalogs</a>.</li>
      <li>Some unprocessed or uncatalogued collections have a brief description on this site but many do not.</li>
    </ul>
    <p>We have expansive collections and are acquiring new material all the time. It takes time for staff to describe materials and make them accessible for users. Our work to describe materials in our catalogs in ongoing. Consult the appropriate curator for questions about uncatalogued collections.</p>
</div>

<div id="archives">
  <h2>What is an archival collection?</h2>
    <p>An archival collection is a group of materials that documents the activities of an individual, family, or organization. Typically, archival collections contain personal papers or the records of a business or other group.</p>
    <p>Archivists describe archival collections in finding aids which include information about provenance, context of creation, and an inventory of what's included in the collection.</p>
      <h3 style="margin-left: 40px">What is a finding aid?</h3>
        <p style="margin-left: 40px">A finding aid is a document that describes the contents and arrangement of a specific collection. Finding aids typically group materials together based on similarity of format, their relationship to the creator of the collection, or simply by date of creation. Finding aids can be used to describe many different kinds of collections, but they are typically used to describe archival collections.</p>
        <p style="margin-left: 40px">BPL's finding aids have changed over time; some were created as basic paper inventories, while others were generated electronically. BPL finding aids, including legacy description, have been made available online and can be accessed through this site.</p>
        <p style="margin-left: 40px">To learn more about archives and our work, read <a href="#morearchives">Archives Explained</a> below.</p>

</div>

<div id="archivalcenter">
<h2>Is this the same as the Archival Center?</h2>
  <p>Great question! No, this not the same as the Archival Center. The Archival Center refers to the Boston Public Library City of Boston Archival Center, an off-site library storage facility where some less frequently used circulating collections are stored. To request access to books, periodicals, and other circulating materials listed in <a href="https://bpl.bibliocommons.com/">Bibliocommons</a> with an “Archival Center” location, e-mail the library at <a href="mailto:ask@bpl.org">ask@bpl.org</a>.</p>
</div>

<div id="navigate">
	<h2>How do I navigate the site?</h2>
    <p>To begin a search, use the search bar on the home page. Or if you are already on a search results page or record, you can click on the magnifying glass in the top right of the menu bar to start a new search.</p>
    <p>To see a full alphabetical list of collection descriptions currently available through this site, click <strong>Collections</strong> in the top menu.</p>
    <p>To see a full alphabetical list of subjects related to collections, click <strong>Subjects</strong> in the top menu.</p>
    <p>To see a full alphabetical list of names of people related to collections, click <strong>Names</strong> in the top menu.</p>
    <p>To see a list of collecting areas, such as topical collections created by BPL over time, click <strong>Collecting Areas</strong>, in the top menu.</p>
    <p>For help and FAQs, click the <strong>Help</strong> tab.</p>
    <p>You can return to the home page at any time by clicking on Archives & Special Collections at Boston Public Library in the top left corner of the page.</p>
    <p>To learn more about the Boston Public Library Archives & Special Collections records and our reading room, including contact details, choose <strong>About this Library</strong> from the top menu. </p>
    <p>For help navigating withing a collection record description see <a href="#anatomy">Anatomy of a Collection Record Page</a> below.</p>
</div>

<div id="search">
	<h2>How do I search for materials?</h2>
  <p>Begin a basic search by entering your search terms in the search bar. You can access the search bar from the home page or by clicking on the magnifying glass in the top menu.</p>
  <ul>
    <li>You may limit the search by record type, searchable fields, and/or by entering a date or date range.</li>
    <li>You'll get the most results by selecting "Search all record types". This will return results for collections, components within collections like series and files, links to digitized materials, and subject headings and names. </li>
  </ul>
    <p><strong>Unless you know the name of the collection or item you are looking for, its best to start with a search set to “search all record types” by “keyword”, then narrow down your search results from the search results page. </strong></p>
    <p>The searchable fields are:</p>
      <ul>
        <li><strong>Keyword</strong>: Searches the entire text of finding aids (collection descriptions). This includes items in the collection, but also the descriptions on the collection page, subjects, and names.</li>
        <li><strong>Title</strong>: Searches titles of the materials described, including collection records and series and files within collections. If you know the precise title of the thing you’re looking for, searching by title can be very helpful.</li>
        <li><strong>Creator</strong>: Searches names of the persons, families, and organizations who created the collections. Please note that limiting by “Creator” will primarily search only creators of collections as a whole, not individual records or items within collections. Most creators are connected only at the collection-level and not at series or file level records. Creators of series and file level records are usually included in the series or file title so a “keyword” or “title” search will be most effective for finding letters or manuscripts by individuals.</li>
        <li><strong>Subject</strong>: Searches by subject headings assigned to materials by archivists and librarians, e.g. "Boston”.</li>
        <li><strong>Notes</strong>: Searches only the notes of a collection, and notes for items within a collection.</li>
        <li><strong>Call Number</strong>: Searches by identifier, which is a unique number by which materials are tracked and requested. Call numbers may change over time but are usually recorded somewhere in the record. If you know the call number, and limiting by call number, doesn’t work, try entering the call number in a “Keyword” search.</li>
      </ul>
    <p>Record types allow you to customize the type of records you want a search to return:</p>
    <ul>
      <li><strong>Limit to collections</strong> will only return records for complete collections, rather than people, subjects, series, and files. </li>
      <li><strong>Limit to digital materials</strong> will only return records for items from collections that have been digitized and are available in <a href="https://www.digitalcommonwealth.org/institutions/commonwealth:sf268508b">Digital Commonwealth</a> or <a href="https://archive.org/details/bostonpubliclibrary">Internet Archive</a>. </li>
    </ul>
    <p>You may <strong>select a date span to limit the search results chronologically</strong>. Searching by date is approximate, and results may fall outside the date span you enter. For example, if you search for records between 1900 and 1950, your results will likely show collections and series with broader date ranges, such as a result with a date span of 1800-1970 since that date range includes the years 1900-1950.</p>
    <p>If a date range search doesn’t work as expected (no results), try your search again without dates.</p>
    <p>You may construct a more complex search by selecting the “+” icon and adding additional search terms.</p>
</div>

<div id="advanced">
	<h2>Tips on forming searches</h2>
  <ul>
    <li>Searches are not case sensitive.</li>
    <li>You may search for phrases by including quotation marks (e.g. “City of Boston”)</li>
    <li>You may add OR and NOT to change search behavior (e.g. Adams NOT Ralph or Architecture OR Arts).</li>
    <li>You may add a tilde (~) to search for search terms within a specified number of words of one another (e.g. “Filene’s month”~4 will return results where the term Filene’s occurs within 4 words of the term month).</li>
    <li>“Wildcard” symbols ? and * help return a greater number of relevant results by searching for variant spellings and forms of search terms simultaneously.
      <ul>
        <li>? replaces a single letter in a search term (e.g. searching wom?n will return both women and woman, and searching archiv? will return both archive and archivy)</li>
        <li>* replaces any number of letters at the end of a search term (e.g. searching letter* will return letter, letters, lettering, and lettered)</li>
        <li>? and * may <strong>not</strong> be used as the first character of a word. </li>
      </ul>
    </li>
  </ul>
</div>

<div id="filter">
	<h2>How can I narrow my search results?</h2>
  <p>Once you’ve done a search and are on the search results page, you can use the filter pane on the right side of the page to further limit and customize search results.</p>
  <p>You may use the filter pane to filter by:</p>
  <ul>
    <li><strong>Record type</strong>: Allows you to filter results so you see only a certain database record type. This can be helpful to narrow down a large number of search results. Try starting by filtering search results for “Collections”. This should give you a sense of how many collections are relevant. You may see that most results are all in one collection.
      <p>Options include:
      <ul>
        <li><strong>Collection</strong>: See only the collection-level records containing your search terms</li>
        <li><strong>Archival records</strong>: Limited results to components within collections like series, files, or items, excluding the collection-level record</li>
        <li><strong>Digital Record</strong>: Links to digitized materials from archival collections in <a href="https://www.digitalcommonwealth.org/institutions/commonwealth:sf268508b">Digital Commonwealth</a> or <a href="https://archive.org/details/bostonpubliclibrary">Internet Archive</a> that contain your search term in the title field</li>
        <li><strong>Subjects</strong>: Subject headings containing your search term</li>
        <li><strong>Person, Organization or Family</strong>: Names of persons, organizations, or families that are linked to records </li>
      </ul>
      </p>
    </li>
    <li><strong>Subject</strong>: Filters search results for records linked to specific subject terms</li>
    <li><strong>Language</strong>: Filters search results to collections with content in a certain language</li>
    <li><strong>Names</strong>: Filters search results for records linked to specific names </li>
  </ul>
  <p>You may also use the search bar at the top of the filter pane to create additional searches within the search results.</p>
</div>

<div id="request">
	<h2>How do I request materials?</h2>
  <p>To view archival collections in person, please place a request to view materials in the reading room. Archives can’t be checked out of the library like circulating collections. Since it may take some time to prepare your request, it’s best to make an appointment ahead of time by requesting materials through this site. Anyone can make an appointment to view collections in the reading room.</p>
  <p><strong>Please note that the Special Collections Reading Room is currently closed for renovations until 2022. Until then, collections are unavailable for in-person research.</strong></p>
  <p>Once our reading room is open for research, materials will be requestable from this site.</p>
  <p>To request materials from a collection, select the request button at the top of the page.</p>
  <img src="assets/images/request.png" style="width:10%; height:auto; margin:1em 0 1em 0;" alt="Request icon in Archives and Special Collections at BPL" style="padding-bottom:1em;"/>
  <p>The request button will only be visible when an item is requestable.</p>
  <p><strong>Tip</strong>: When you do not see the request button, it may be because you need to navigate to a lower level of description to request something. For example, the Correspondence series for a collection will not show a button. See what is nested below this series by clicking on the “+” next to the series title in “Navigate the Collection”. Try clicking on something nested within the series to request.</p>
  <p>Please note that although the system allows requesting at the item level, you do not need to place multiple requests for items within the same box.</p>
</div>

<div id="data">
  <h2>How can I use BPL's finding aids, description, and metadata?</h2>
  <p>Boston Public Library finding aids, metadata, and descriptions of persons, families, and organizations are licensed under a <a href="https://creativecommons.org/publicdomain/zero/1.0/">Creative Commons CC0 1.0 Universal (CC0 1.0) Public Domain Dedication</a>. This means that anyone may copy, modify, and distribute this descriptive metadata (information that describes our collections) without asking permission. Please cite Boston Public Library when using our metadata and description to help others find the original records and the collections they represent. This license does not include any images, documents, or other content linked to, or referenced by, these descriptions.</p>
  <p>We ask that you follow these guidelines and practices:
    <ul>
      <li>Contribute your suggestions and improvements to help us make our description better.</li>
      <li>Do not mislead others or misrepresent the finding aids or their sources. Please don’t use this data in a way that suggests you have any official status or that we endorse you or your use of the metadata.</li>
      <li>Conform to laws and other regulations in your jurisdiction, especially concerning defamation and copyright.</li>
      <li>Understand that our finding aid descriptions are provided as-is, and not all of our descriptions have been reviewed for completeness or accuracy.</li>
    </ul>
 </p>
</div>

<div id="harmful">
	<h2>Statement on Harmful Description</h2>
  <p>BPL finding aids describe historical materials that reflect the attitudes, ideas, and norms of the time periods and cultures in which they were created and may include direct quotations or detailed descriptions of original documents that use inappropriate or harmful language. While the BPL strives for equitable and inclusive description, we recognize that this has not always been the case. Legacy finding aids may reflect the time periods in which they were created and the biases of the people who created them. These finding aids are available online because the access that they provide to primary source materials is uniquely valuable to the research community at large.</p>
  <p>Our efforts to repair outdated descriptions and to describe our collections in an equitable way are iterative and ongoing.  </p>
</div>

<div id="glossary">
	<h2>Glossary of Terms and Symbols</h2>
  <p><strong>Archives</strong> are materials created or received by a person, family, or organization that are preserved because of the enduring value of the information they contain.</p>
  <p><strong>Collections</strong> are groups of materials assembled by a person, family, organization, or repository. They may be divided hierarchically into series, groupings, and files.</p>
  <p><strong>Containers</strong> are anything that houses or stores archival materials. A container might be a standard size archival box, an oversize box, a broadside folder, or a media case.</p>
  <p><strong>Digital records</strong> are generally digitized materials that are available online. Digital records may also include born-digital materials, electronic files that were originally created in a digital environment like electronic word processing files, spreadsheets, databases, or video or audio files.</p>
  <p><strong>Finding aids</strong> are guides that allow users to discover, understand, and access archival collections. Finding aids describe the creation, arrangement, content, and context of archival materials and usually list a collection’s contents in a hierarchal arrangement, grouping like materials together under series or sub-series so materials can be described in the aggregate.</p>
  <p><strong>Repositories</strong> are institutions that hold archival materials.</p>
  <p><strong>Name records</strong> are the people, families, and organizations that create archival materials. On this site, users can view name records to see all of the collections created by a person, family, or organization, or related to them. Staff generally choose name records from controlled lists, including the Library of Congress. However, these lists are not always inclusive or complete, so staff may create new name records to make previously underrepresented peoples’ records more accessible.</p>
  <p><strong>Subject records</strong>  are topics, places, and genres used to describe the context and content of archival materials. On this site, users can view a subject record to see all of the collections relating to that topic, place, or genre. Staff generally choose name records from controlled lists, including the Library of Congress. However, these lists are not always inclusive or complete, so staff may create new subject record that describe people, places, or topics more accurately, using non-harmful language.</p>
    <img src="assets/images/request.png" style="width:10%; height:auto; margin:1em 0 1em 0;" alt="Request icon in Archives & Special Collections at Boston Public Library"/>
  <p>Use the <strong>Request button</strong> to place a request for the selected material. For more information about requesting material, see the <a href="#request">requesting materials section</a> above.</p>
    <img src="assets/images/citation.png" style="width:10%; height:auto; margin:1em 0 1em 0;" alt="Citation icon in Archives & Special Collections at Boston Public Library"/>
  <p>Use the <strong>Citation button</strong> to generate a formatted citation for the material you are viewing. Citations can be generated at all levels of a finding aid, including at the folder or item level.</p>
    <img src="assets/images/pdf.png" style="width:10%; height:auto; margin:1em 0 1em 0;" alt="Print PDF icon in Archives & Special Collections at Boston Public Library"/>
  <p>Use the <strong>Print button</strong> to access a formatted PDF of a finding aid. PDFs can be accessed at all levels of a finding aid.</p>
</div>

<div id="questions">
  <h2>What if I have questions? Where should I go for help with this site?</h2>
  <p>For questions about our collections, help navigating BPL finding aids, or to suggest changes to our descriptions, you can <a href="https://www.bpl.org/have-a-question-about-our-special-collections/">contact us directly</a>.</p>
</div>
<div id="morearchives">
  <h2>Archives explained </h2>
  <p>Archives are collections of “records created or received by a person, family, or organization and preserved because of their continuing value.”<sup><a href=”#section1”>1</a></sup> Archives are defined by their provenance (origin or source) and the context of their creation. Their relationship with other records is key in interpreting and understanding them in relation to history and ourselves.</p>
  <p><strong>Archival records can include anything!</strong> In archives you can find personal or business correspondence, diaries and journals, legal and financial records, published works, photographs, maps, architectural drawings, manuscript and printed music, film and sound recordings, digital media, and even objects. </p>
  <p><strong>Archives can be large and complex.</strong> To help researchers find individual items, we describe archives in finding aids, which are similar to catalog records. But while catalog records usually describe individual items, like books, finding aids include detailed inventories of a collection's contents. In addition, finding aids usually include contextual information about provenance, the lives of creators, and overall organization.</p>
  <p>Finding aids describe collections at varying levels of detail, which means researchers usually request an individual box or folder, then examine the contents to find what they need.</p>
  <p>Archivists, who organize and describe archival collections, strive to preserve the “original order” of the materials they work with. By preserving original order, archivists can assure that important historical context is maintained; often, this also means that specific materials are easier to find.</p>
  <p><strong>Archival research is like following a map to buried treasure! You usually have to do a bit of digging.</strong></p>
  <p><sup id=”section1”>1. Dictionary of Archives Terminology, s.v. "archives," accessed November 28, 2020 <a href=”http://dictionary.archivists.org/entry/archives.html”> dictionary.archivists.org/entry/archives.html</a>.</sup></p>
</div>

<div id="anatomy">
  <h2>Anatomy of a collection record page</h2>
  <img src="assets/images/resource_top_anotated.png" style="border:1px solid #ddd;border-radius: 4px;padding: 5px; width:80%; height:auto; margin:1em 0 1em 0;" alt="Screenshot of an example collection record page for the George W. Forbes papers with numbers labeling different sections of the page"/>
  <p>The top of each collection page includes the <strong>title of the collection (1)</strong> followed by call number for the <strong>collection (2)</strong>.</p>
  <p>Under the title and call number, you will see breadcrumbs (3) that help you orient yourself in each record page. These breadcrumbs are also visible at lower levels of description on series, sub-series, and file pages. <strong>Breadcrumbs are a great way to help you figure out where you are in the collection and  navigate back up through a collection organization.</strong></p>
  <img src="assets/images/breadcrumbs_resource.png" style="border:1px solid #ddd;border-radius: 4px;padding: 5px; width:80%; height:auto; margin:1em 0 1em 0;" alt="Screenshot of collection breadcrumbs on an example item record page for the George W. Forbes papers"/>
  <p><strong>Tip</strong>: On pages for series, sub-series, files, and items within collections, you will always see the title and call number, and the breadcrumbs, in the same place at the top the page. Next to the call number, you’ll also see box and folder information.  </p>
  <p>Under the breadcrumbs, you have the option of three different views for <strong>collection description (4)</strong>. From left to right, the views are:</p>
  <ul>
    <li><strong>Collection Overview</strong>: A descriptive overview of the collection as a whole. Here you will find top-level collection information, similar to what you might see in a catalog record. You will see the different types of finding aid notes, including scope and contents (collection description), biographical or historical notes about the creator, dates and languages, and information about access and the size of the collection (number of boxes).</li>
    <li><strong>Full Collection View</strong>: You’ll see a dynamic scrollable view of the full collection, including the inventory of collection contents. This view includes only abbreviated notes for each item in the collection. Click on the item link for a complete view of each one or to place a request.</li>
    <li><strong>Box List</strong>: Shows a list of all the boxes or containers storing this collection. You may see just one box listed or even over 100 boxes! Clicking on each box link will give you a list of the contents of each box. This is helpful if you are following a citation or note that only includes a box and folder number, not an item title.</li>
  </ul>
  <p>At the top right of the page, you will see buttons for <strong>actions (5)</strong>. From here you can:</p>
  <ul>
    <li>See a complete citation for the collection or item</li>
    <li>Download a printable PDF finding aid</li>
    <li>Request materials by scheduling a reading room visit</li>
  </ul>
  <p>On the right side of the page, you will see the <strong>Navigate the Collection menu (6)</strong> which shows you a dynamic interactive inventory of the collection.</p>
  <ul>
    <li>You can <strong>open (+)</strong> and <strong>collapse (-)</strong> each section of the collection to see what is nested inside each series or subseries. These sections open automatically as you navigate to lower levels of description.  </li>
    <li>This is a great way to jump around to different places in the collection and place requests.</li>
    <li>You can also find items within the collection by entering search terms and/or dates into the <strong>“Search collection” search bar</strong> at the top of this section.</li>
  </ul>
  <p>You can expand the <strong>Navigate the Collection (7)</strong> section by clicking and dragging the re-size bar at the left of the section. This may be helpful for reading longer file titles. It will revert to a default size when you navigate to a new page.</p>
  <p>In the “Collection Overview” view, the center of the page contains <strong>important descriptive information (8)</strong> about the collection, starting with the most important information like a summary of contents and collection dates, extent (size and number of boxes), and information about access and restrictions.</p>
  <p>Additional description can be found below in expandable labeled sections. You’ll find important contextual information here about how we organized the collection and how it came to the library. You will also find some administrative information about this finding aid which tells you a bit more about how archivists create finding aids. You can collapse or expand each section by clicking on the section title.</p>
  <img src="assets/images/accordions.png" style="border:1px solid #ddd;border-radius: 4px;padding: 5px; width:65%; height:auto; margin:1em 0 1em 0;" alt="Screenshot of accordion section of an example item record page for the George W. Forbes papers showing Administrative Information open and other sections closed"/>
</div>
